@keyframes fadeIn{

from{

opacity:0;

transform:translateY(15px);

}


to{

opacity:1;

transform:translateY(0px);

}


}



@keyframes slideLeft{


from{

opacity:0;

transform:translateX(-20px);

}


to{

opacity:1;

transform:translateX(0px);

}


}



@keyframes cardAnimation{


from{

opacity:0;

transform:translateY(20px);

}


to{


opacity:1;

transform:translateY(0px);

}


}



@keyframes skeleton{


0%{

opacity:.4;

}


50%{

opacity:.7;

}


100%{

opacity:.4;

}


}



.fade-animation{

animation:

fadeIn .6s ease;

}



.slide-animation{


animation:

slideLeft .6s ease;


}



.card-animation{


animation:

cardAnimation .8s ease;


}



.skeleton{


animation:

skeleton 1.5s infinite;

}