*{


margin:0;
padding:0;
box-sizing:border-box;


}



body{


background:#F8FAFC;

font-family:

Inter,

sans-serif;


overflow-x:hidden;


}


button{


cursor:pointer;

transition:

all .4s ease;


}


a{


text-decoration:none;

}



.card{


background:white;

border-radius: 14px;

box-shadow:

0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.04);


padding:25px;


transition:

all .4s ease;


}


.card:hover{


transform:

translateY(-5px);


box-shadow:

0 8px 8px rgba(0,0,0,.08);


}



.primary-button{


background:

linear-gradient(

90deg,

#5e98f0,

#002e73

);


padding:

14px 25px;


border:none;

color:white;

border-radius: 10px;


font-weight:600;


}



.primary-button:hover{


transform:

scale(1.03);


}



.secondary-button{


background:white;

border:none;

padding:

14px 25px;

border-radius: 10px;

box-shadow:

0 10px 8px rgba(0,0,0,.05);


}
.layout{

display:flex;

min-height:100vh;

background:#f3f7fc;

}

.main-content{

margin-left:330px;

flex:1;

display:flex;

flex-direction:column;

}

.page-content{

padding:35px;

}