.empty-approval-container{


width:100%;
height:50;

padding:30px;


}


.empty-approval-container h1{


font-size:20px;

font-weight:medium;

margin-bottom:30px;

color:#081831;


}




.approval-card{


background:white;

padding:60px;


border-radius: 14px;


box-shadow:

0 10px 12px

rgba(

0,
0,
0,
0.08

);


text-align:center;


animation:fade .8s ease;


}




.approval-icon{


width:100px;

height:100px;


margin:auto;


display:flex;

justify-content:center;

align-items:center;


font-size:55px;


border-radius:50%;


background:

linear-gradient(

135deg,

#2d81ff,

#6ea8ff

);


color:white;


animation:floating 3s infinite;


}



.approval-card h2{


margin-top:30px;

font-size:25px;

color:#081831;


}



.approval-card p{


margin-top:15px;

font-size:18px;

line-height:32px;


color:#707070;


}




.refresh-button{


margin-top:40px;


padding:

18px 40px;


border:none;

cursor:pointer;


font-size:15px;

font-weight:500;


border-radius: 10px;


color:white;


background:

linear-gradient(

135deg,

#3586ff,

#6fa9ff

);


transition:.4s;


}



.refresh-button:hover{


transform:

translateY(-5px);


box-shadow:

0 8px 12px

rgba(53, 134, 255, 0.30);


}




.statistics-card{


margin-top:40px;


display:grid;

grid-template-columns:

1fr 1fr;


gap:30px;


}




.statistics-card div{


padding:40px;


background:white;


border-radius: 14px;


text-align:center;


box-shadow:

0 10px 12px

rgba(

0,
0,
0,
0.08

);


}



.statistics-card h3{


font-size:23px;

color:#707070;


}




.statistics-card h1{


margin-top:20px;

font-size:60px;

color:#3586ff;


}




@keyframes floating{


0%{

transform:

translateY(0px);

}


50%{

transform:

translateY(-12px);

}


100%{

transform:

translateY(0px);

}


}




@keyframes fade{


from{

opacity:0;

transform:

translateY(30px);

}


to{

opacity:1;

transform:

translateY(0px);

}


}